h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    color: grey;
}

p {
    font-size: 1em;
    line-height: 1.8;
    text-align: center;
}

.primary-color {
    color: #00FF00;
}
