/* Layout styles for services */
.services {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    gap: 2em;
}

.service {
    flex-basis: calc(50% - 1em);
    padding: 1em;
    background-color: #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.service img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px {
    .services {
        flex-direction: column;
        padding: 1em;
    }
}
